dist:     xenial
language: c
sudo: required
os: linux

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq valgrind
compiler:
  - gcc
  - clang

env:
  - BUILD_CONFIGURATION=Debug
  - BUILD_CONFIGURATION=Release
  - BUILD_CONFIGURATION=RelWithDebInfo

script:
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION
  - cmake --build .
  - ctest --output-on-failure
  - make valgrind
